.selected, .page-content, .page-footer-inner, .code-editor-wrapper, #html-tilte {
    opacity: 1;
    transition: .5s opacity;
}
.fade-out {
    opacity: 0;
    transition: none;
}


.tt-input {
    color: #555!important;
}

.mt-step-col {
    -webkit-transition: all ease-in-out 1s;
    -moz-transition: all linear 1s;
    -o-transition: all linear 1s;
    transition: all linear 1s
}