.dropzone {
  border: 2px dashed #32c5d2;
  border-radius: 5px;
  color: #666666;
  font-size: 2rem;
  margin: 10px auto 40px auto;
  width: 80%;
  text-align: center;
}
.dropzone .note {    
  font-size: 1.4rem;
  display: block;
  margin-top: 1rem;
  border-left: none;
}