{% extends "base.html" %}
{% block styles %}
<link href="https://dl.dropboxusercontent.com/u/70349100/assets/pages/css/error.min.css" rel="stylesheet" type="text/css" />
{% endblock styles %}
{% block content %}
<h3 class="page-title">
  Houston, we have a problem
</h3>
<div class="row">
  <div class="col-md-12 page-404">
    <div class="number font-red">404</div>
      <div class="details">
        <h3>La página que buscas no existe :(</h3>
        <p>
          <a href="/" class="btn red btn-outline">Ir al inicio</a>
        </p>
    </div>
  </div>
</div>
{% endblock content %}