{% set navigation_bar = [
    ('email_sender',  'Test Email Sender',     'icon-envelope-letter'),
    ('email_builder', 'Massive Email Builder', 'fa fa-code')
] -%}
<!DOCTYPE html>
<!--[if IE 8]> <html lang="es" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="es" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="es">
<!--<![endif]-->

  <head>
    <meta charset="utf-8" />
    <title>Digital Response Apps</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="" name="description" />
    <meta content="Dimitri Herrero" name="author" />
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    <link href="https://dl.dropboxusercontent.com/u/70349100/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="https://dl.dropboxusercontent.com/u/70349100/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="https://dl.dropboxusercontent.com/u/70349100/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="https://dl.dropboxusercontent.com/u/70349100/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN THEME GLOBAL STYLES -->
    <link href="https://dl.dropboxusercontent.com/u/70349100/assets/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
    <link href="https://dl.dropboxusercontent.com/u/70349100/assets/global/css/plugins.min.css" rel="stylesheet" type="text/css" />
    <!-- END THEME GLOBAL STYLES -->
    <!-- BEGIN THEME LAYOUT STYLES -->
    <link href="https://dl.dropboxusercontent.com/u/70349100/assets/layouts/layout/css/layout.min.css" rel="stylesheet" type="text/css" />
    <link href="https://dl.dropboxusercontent.com/u/70349100/assets/layouts/layout/css/themes/darkblue.min.css" rel="stylesheet" type="text/css" id="style_color" />
    <!-- END THEME LAYOUT STYLES -->
    <link href="/css/custom.css" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="img/favicon.ico" />
    {% block styles %}{% endblock styles %}
  </head>


  <body class="page-header-fixed page-sidebar-closed-hide-logo page-content-white {% if request.cookies.get('toggledmenu') == 'true' -%}page-sidebar-closed{%- endif %}">

    <!-- BEGIN HEADER -->
    <div class="page-header navbar navbar-fixed-top">
      <!-- BEGIN HEADER INNER -->
      <div class="page-header-inner ">
        <!-- BEGIN LOGO -->
        <div class="page-logo">
          <a href="/">
            <img src="/img/logo.png" alt="logo" class="logo-default" style="height: 14px;" />
          </a>
          <div class="menu-toggler sidebar-toggler">
            <span></span>
          </div>
        </div>
        <!-- END LOGO -->
        <!-- BEGIN RESPONSIVE MENU TOGGLER -->
        <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse"> </a>
        <!-- END RESPONSIVE MENU TOGGLER -->
        <!-- BEGIN TOP NAVIGATION MENU -->
        <div class="top-menu">
        </div>
        <!-- END TOP NAVIGATION MENU -->
      </div>
      <!-- END HEADER INNER -->
    </div>
    <!-- END HEADER -->

    <!-- BEGIN HEADER & CONTENT DIVIDER -->
    <div class="clearfix"> </div>
    <!-- END HEADER & CONTENT DIVIDER -->

    <!-- BEGIN CONTAINER -->
    <div class="page-container">
      <!-- BEGIN SIDEBAR -->
      <div class="page-sidebar-wrapper">
        <!-- BEGIN SIDEBAR -->
        <div class="page-sidebar navbar-collapse collapse">
          <!-- BEGIN SIDEBAR MENU -->
          <ul class="page-sidebar-menu page-header-fixed {% if request.cookies.get('toggledmenu') == 'true' -%}page-sidebar-menu-closed{%- endif %}" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" style="padding-top: 20px">
            <li class="heading">
              <h3 class="uppercase">Aplicaciones</h3>
            </li>
            {% for id, name, icon in navigation_bar %}
                <li class="nav-item {% if request.path == url_for(id) %}active{% endif %}">
                  <a href="{{ url_for(id) }}" class="nav-link">
                    <i class="{{ icon }}"></i>
                    <span class="title">{{ name }}</span>
                    {% if request.path == url_for(id) %}<span class="selected fade-out"></span>{% endif %}
                  </a>
                </li>
            {% endfor %}
          </ul>
          <!-- END SIDEBAR MENU -->
        </div>
        <!-- END SIDEBAR -->
      </div>
      <!-- END SIDEBAR -->

      <!-- BEGIN CONTENT -->
      <div class="page-content-wrapper">
        <!-- BEGIN CONTENT BODY -->
        <div class="page-content fade-out">
          <!-- BEGIN PAGE HEADER-->
          <!-- BEGIN PAGE TITLE-->
          {% block content %}
          <h3 class="page-title">
            Blank Page Layout
            <small>blank page layout</small>
          </h3>
          {% endblock content %}
          <!-- END PAGE TITLE-->
          <!-- END PAGE HEADER-->
        </div>
        <!-- END CONTENT BODY -->
      </div>
      <!-- END CONTENT -->

    </div>
    <!-- END CONTAINER -->

    <!-- BEGIN FOOTER -->
    <div class="page-footer">
      <div class="page-footer-inner fade-out">
        2016 &copy; Digital Response.
      </div>
      <div class="scroll-to-top">
        <i class="icon-arrow-up"></i>
      </div>
    </div>
    <!-- END FOOTER -->

    <!--[if lt IE 9]>
    <script src="https://dl.dropboxusercontent.com/u/70349100/assets/global/plugins/respond.min.js"></script>
    <script src="https://dl.dropboxusercontent.com/u/70349100/assets/global/plugins/excanvas.min.js"></script>
    <![endif]-->

    <!-- BEGIN CORE PLUGINS -->
    <script src="https://dl.dropboxusercontent.com/u/70349100/assets/global/plugins/jquery.min.js" type="text/javascript"></script>
    <script src="https://dl.dropboxusercontent.com/u/70349100/assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="https://dl.dropboxusercontent.com/u/70349100/assets/global/plugins/js.cookie.min.js" type="text/javascript"></script>
    <script src="https://dl.dropboxusercontent.com/u/70349100/assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
    <script src="https://dl.dropboxusercontent.com/u/70349100/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <script src="https://dl.dropboxusercontent.com/u/70349100/assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
    <script src="https://dl.dropboxusercontent.com/u/70349100/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
    <!-- END CORE PLUGINS -->
    <!-- BEGIN THEME GLOBAL SCRIPTS -->
    <script src="https://dl.dropboxusercontent.com/u/70349100/assets/global/scripts/app.min.js" type="text/javascript"></script>
    <!-- END THEME GLOBAL SCRIPTS -->
    <!-- BEGIN THEME LAYOUT SCRIPTS -->
    <script src="https://dl.dropboxusercontent.com/u/70349100/assets/layouts/layout/scripts/layout.min.js" type="text/javascript"></script>
    <!-- END THEME LAYOUT SCRIPTS -->
    <!-- BEGIN CUSTOMS SCRIPTS -->
    <script src="/js/dr-apps-main.js" type="text/javascript"></script>
    <!-- END CUSTOMS SCRIPTS -->
    {% block scripts %}{% endblock scripts %}
  </body>
</html>