{% extends "base.html" %}

{% block styles %}
<link href="https://dl.dropboxusercontent.com/u/70349100/assets/global/plugins/dropzone/dropzone.min.css" rel="stylesheet" type="text/css" />
<link href="css/dropzone.css" rel="stylesheet" type="text/css" />
<link href="https://dl.dropboxusercontent.com/u/70349100/assets/global/plugins/codemirror/lib/codemirror.css" rel="stylesheet" type="text/css" />
<link href="https://dl.dropboxusercontent.com/u/70349100/assets/global/plugins/codemirror/theme/neat.css" rel="stylesheet" type="text/css" />
{% endblock styles %}


{% block content %}
<h3 class="page-title">
  Massive Email Builder
  <small>Utiliza el motor de plantillas <a href="http://jinja.pocoo.org/" target="_blank">Jinja2</a></small>
</h3>
<div class="row">
  <div class="col-md-12">
    <div id="portlet" class="portlet light portlet-fit full-height-content full-height-content-scrollable bordered">
      <div class="portlet-title">
        {# BEGIN: Steps 1-2-3 #}
        <div class="mt-element-step hidden-xs hidden-sm">
          <div class="row step-thin">
            <div id="step1" class="col-md-4 bg-grey mt-step-col active">
              <div class="mt-step-number bg-white font-grey">1</div>
              <div class="mt-step-title uppercase font-grey-cascade">Variables</div>
              <div class="mt-step-content font-grey-cascade">Sube un Excel con las variables</div>
            </div>
            <div id="step2" class="col-md-4 bg-grey mt-step-col">
              <div class="mt-step-number bg-white font-grey">2</div>
              <div class="mt-step-title uppercase font-grey-cascade">Html</div>
              <div class="mt-step-content font-grey-cascade">Introduce el código html de la plantilla</div>
            </div>
            <div id="step3" class="col-md-4 bg-grey mt-step-col">
              <div class="mt-step-number bg-white font-grey">3</div>
              <div class="mt-step-title uppercase font-grey-cascade">Resultado</div>
              <div class="mt-step-content font-grey-cascade">Descarga los html's</div>
            </div>
          </div>
        </div>
        {# END: Steps 1-2-3 #}
      </div>
      <div class="portlet-body">
        <div class="full-height-content-body">
          {# BEGIN: Dropzone #}
          <form id="my-awesome-dropzone" action="/email-builder" class="dropzone"></form>
          {# END: Dropzone #}
          {# BEGIN: CodeEditor #}
          <div class="code-editor-wrapper fade-out">
            <div id="button-wrapper" class="clearfix">
              <div class="pull-right">
                <button id="code-editor-button" class="btn btn green">
                  Enviar HTML
                  <i class="fa fa-send-o"></i>
                </button>
              </div>
            </div>
            <form id="email-builder-html" action="/email-builder" class="form-horizontal" method="post">
              <textarea id="code-editor" style="display:none"></textarea>
            </form>
          </div>
          {# End: CodeEditor #}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}


{% block scripts %}
<script src="https://dl.dropboxusercontent.com/u/70349100/assets/global/plugins/dropzone/dropzone.min.js"></script>
<script src="https://dl.dropboxusercontent.com/u/70349100/assets/global/plugins/codemirror/lib/codemirror.js" type="text/javascript"></script>
<script src="https://dl.dropboxusercontent.com/u/70349100/assets/global/plugins/codemirror/mode/xml/xml.js" type="text/javascript"></script>
<script src="https://dl.dropboxusercontent.com/u/70349100/assets/global/plugins/codemirror/mode/javascript/javascript.js" type="text/javascript"></script>
<script src="https://dl.dropboxusercontent.com/u/70349100/assets/global/plugins/codemirror/mode/css/css.js" type="text/javascript"></script>
<script src="https://dl.dropboxusercontent.com/u/70349100/assets/global/plugins/codemirror/mode/jinja2/jinja2.js" type="text/javascript"></script>
<script src="js/dr-apps-email-builder.js" type="text/javascript"></script>
{% endblock scripts %}