{% extends "base.html" %}

{% block styles %}
<link href="https://dl.dropboxusercontent.com/u/70349100/assets/global/plugins/typeahead/typeahead.css" rel="stylesheet" type="text/css" />
<link href="https://dl.dropboxusercontent.com/u/70349100/assets/global/plugins/codemirror/lib/codemirror.css" rel="stylesheet" type="text/css" />
<link href="https://dl.dropboxusercontent.com/u/70349100/assets/global/plugins/codemirror/theme/neat.css" rel="stylesheet" type="text/css" />
{% endblock styles %}


{% block content %}
<h3 class="page-title">
Test Email Sender
<small>Envía emails de prueba a través de <a href="https://www.mailgun.com/" target="_blank">Mailgun</a></small>
</h3>
<div class="row">
  <div class="col-md-12">
    <div id="portlet" class="portlet light portlet-fit full-height-content full-height-content-scrollable bordered">
      <div class="portlet-title">
        <div class="caption font-dark">
          <i class="icon-paper-clip font-dark"></i>
          <span class="caption-subject bold uppercase">Detalles del mensaje</span>
        </div>
        <div class="pull-right">
          <button id="submit" type="submit" form="mailgun-form" value="Submit" class="btn btn green">
            Enviar mensaje
            <i class="fa fa-send-o"></i>
          </button>
        </div>
      </div>
      <div class="portlet-body">
        <div class="full-height-content-body form">
          <form id="mailgun-form" class="form-horizontal">
            <div class="form-body">
              <div class="row">
                <div class="col-md-6 col-md-push-6">
                  <div class="form-group">
                    <label class="control-label col-md-2">De:</label>
                    <div class="col-md-10">
                      <p class="form-control-static">apps@digitalresponse.es</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-md-pull-6">
                  <div class="form-group">
                    <label class="control-label col-md-2">Para:</label>
                    <div id="email-typeahead" class="col-md-10">
                      <div class="input-icon right">
                        <i class="fa"></i>
                        <input id="email" name="email" type="text" class="typeahead form-control" placeholder="" required="">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="control-label col-md-1">Asunto:</label>
                    <div class="col-md-11">
                      <div class="input-icon right">
                        <i class="fa"></i>
                        <input id="subject" name="subject" type="text" class="form-control" placeholder="" required="">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="control-label col-md-1">HTML:</label>
                    <div class="col-md-11">
                      <textarea id="code-editor" style="display:none"></textarea>
                    </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Bootstrap modal -->
<div id="modal" class="modal fade" tabindex="-1" role="basic" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Mensaje de Mailgun:</h4>
      </div>
      <div class="modal-body">
        <!-- Mailgun response message -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn green" data-dismiss="modal">Muy bien</button>
      </div>
    </div>
  </div>
</div>
{% endblock content %}


{% block scripts %}
<script src="https://dl.dropboxusercontent.com/u/70349100/assets/global/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
<script src="https://dl.dropboxusercontent.com/u/70349100/assets/global/plugins/typeahead/typeahead.bundle.min.js" type="text/javascript"></script>
<script src="https://dl.dropboxusercontent.com/u/70349100/assets/global/plugins/typeahead/handlebars.min.js" type="text/javascript"></script>
<script src="https://dl.dropboxusercontent.com/u/70349100/assets/global/plugins/codemirror/lib/codemirror.js" type="text/javascript"></script>
<script src="https://dl.dropboxusercontent.com/u/70349100/assets/global/plugins/codemirror/mode/xml/xml.js" type="text/javascript"></script>
<script src="https://dl.dropboxusercontent.com/u/70349100/assets/global/plugins/codemirror/mode/javascript/javascript.js" type="text/javascript"></script>
<script src="https://dl.dropboxusercontent.com/u/70349100/assets/global/plugins/codemirror/mode/css/css.js" type="text/javascript"></script>
<script src="https://dl.dropboxusercontent.com/u/70349100/assets/global/plugins/codemirror/mode/htmlmixed/htmlmixed.js" type="text/javascript"></script>
<script src="js/dr-apps-email-sender.js" type="text/javascript"></script>
{% endblock scripts %}